@media screen and (max-width: 767px) {
    .breadcrumb {
        padding: 25px 15px 15px 0;
    }

    body {
        font-size: 12px;
    }

    h2 {
        margin-bottom: 40px;
    }

    h4 {
        font-size: 16px;
    }
}