<header class="header">
	<div class="top-header">
		<strong class="top-title">Your company needs a Team Building?</strong>
		<a href="../contact" class="top-link">Contact Us</a>
	</div>
	<div class="main-header">
		<div class="container">
			<div class="logo-area">
				<div class="logo-holder">
					<a href="index.html" class="logo">
						<img src="./assets/img/logo.svg" class="img-fluid" alt="logo">
					</a>
				</div>
			</div>
			<div class="nav-holder">
				<div class="choose-menu">
					<a href="#" class="open-link">Choose a city</a>
					<div class="city-block">
						<div class="city-holder">
							<div class="col country-col">
								<div class="item-box country-box">
									<span class="country-title">Ausrtalia</span>
									<ul class="city-list">
										<li><a href="#">Sydney</a></li>
										<li><a href="#">Melbourne</a></li>
										<li><a href="#">Brisbane</a></li>
									</ul>
								</div>
								<div class="item-box country-box">
									<span class="country-title">Canada</span>
									<ul class="city-list">
										<li><a href="#">Toronto</a></li>
									</ul>
								</div>
								<div class="item-box country-box">
									<span class="country-title">India</span>
									<ul class="city-list">
										<li><a href="#">Goa</a></li>
									</ul>
								</div>
								<div class="item-box country-box">
									<span class="country-title">Spain</span>
									<ul class="city-list">
										<li><a href="#">Barcelona</a></li>
									</ul>
								</div>
							</div>
							<div class="col banner-col">
								<div class="country-box banner-box">
									<a href="#">
										<img src="./assets/img/menu-banner-01.png" alt="">
									</a>
								</div>
								<div class="country-box banner-box">
									<a href="#">
										<img src="./assets/img/menu-banner-02.png" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav__item">
							<a class="nav-link" href="#">Faqs</a>
						</li>
						<li class="nav__item">
							<a class="nav-link" href="#">Gift card</a>
						</li>
						<li class="nav__item">
							<a class="nav-link" href="#">Custom & Teambuilding</a>
						</li>
						<li class="nav__item">
							<a class="nav-link" href="#">City Secrets</a>
						</li>
						<li class="nav__item menu-item-has-children">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</nav>
				<div class="info-contacts">
					<div class="line">
						<i class="email"></i>
						<a href="mailto:SUPPORT@ADVENTURECLUES.COM">SUPPORT@ADVENTURECLUES.COM</a>
					</div>
					<div class="line">
						<i class="phone"></i>
						<a href="tel:(02) 90300381">(02) 90300381</a>
					</div>
					<ul class="social-list">
						<li>
							<a href="#" target="_blank"><i class="icomoon-facebook"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icomoon-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="icomoon-twitter"></i></a>
						</li>
					</ul>
				</div>
				<div class="btn-box">
					<a href="#" class="btn_pro">
						<span></span>
						<i class="icomoon-carret-right"></i>
					</a>
					<div class="sub-block">
						<div class="sub-holder">
							<div class="title">
								<span class="big-text">GAME</span>
								<span class="medium-text">CHANGING</span>
								<span class="light-text">CHANGING SELF-GUIDED TOURS</span>
							</div>
							<ul class="list-more">
								<li>MORE BOOKINGS</li>
								<li>MORE TIME</li>
								<li>MORE HAPPY CASTOMERS</li>
							</ul>
							<a href="#" class="btn btn-secondary">Companies & Attractions - Learn More</a>
							<a href="#" class="btn btn-primary">LOG IN</a>
						</div>
					</div>
				</div>
			</div>
			<button class="nav-opener js-nav-opener">
				<span></span>
			</button>
		</div>
	</div>
</header>